@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --card-bg: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg: #1c1c1e;
  }
}
